* {
	 -webkit-font-smoothing: antialiased;
	 text-rendering: optimizeLegibility;
}
 body {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 flex-direction: column;
	 position: relative;
	 background: linear-gradient(135deg, rgba(36, 46, 77, .9), rgba(137, 126, 121, .9));
	 font-family: '
	Roboto'
	, helvetica, arial, sans-serif;
	 font-size: 1.5em;
}
 .big-div {
	 width: 70%;
	 position: relative;
	 background: rgba(0, 0, 0, .15);
     min-height: 95vh;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.left {
    float:left;
}

.right {
    float:right;
}

li {
    display:inline;
}

a {
    text-decoration: none;
    font-size:28px;
    color:white;
    padding:1.5%;
    padding-left:2%;
    padding-right:2%;
}

a:hover{
    color: #00d6b7;
}

.current-page {
    color: #00d6b7;
}

img {
    width:180px;
    height: 180px;
    margin-right:50px;
}

.left-div {
    width: 49%;
    float:left;
    border-right: 2px solid white;
    text-align: right;
}

.right-div {
    width: 45%;
    float:left;
    text-align: left;
    margin-left:5%;
}

p {
    padding:0;
    margin: 0;
    margin-top:7px;
    margin-bottom:7px;
    color:white;
}

h1 {
    color: white;
    text-align: center;
}
