<html>
<head>
    <link rel="stylesheet" href="../styles/client-homepage.css" type="text/css">
</head>
<body>
    <div class="big-div">
        <nav>
            <ul>
                <li>
                    <a href="#" class="current-page left">
                        Homepage
                    </a>
                </li>
                <li>
                    <a href="client-reservations.html" class="left">
                        Reservations 
                    </a>
                </li>
                <li>
                    <a href="login.html" class="right">
                        Logout 
                    </a>
                </li>
            </ul>
        </nav>
        <br>
        <br>
        <hr>
        <div class="user-card">
            <h1>Client info</h1>
            <div class="left-div">
                <img src="../icons/avatar.png">
            </div>
            <div class="right-div">
                <p id="name">Name: </p>
                <p id="surname">Surname: </p>
                <p id="uin">UIN: </p>
                <p id="balance">Balance: </p>
            </div>
        </div>
        <div class="arrive-button-div">
            <button class="btn-arrive">Arrive</button>
        </div>
        <div id="reservation-modal" class="modal">
            <div class="modal-content">
                <span class="close" id="reservation-close">&times;</span>
                <label class="reservation-start">Start time</label>
                <br>
                <input type="datetime-local" id="reservation-start">
                <br>
                <label>End time</label>
                <br>
                <input type="datetime-local" id= "reservation-end">
                <br>
                <label>Car choice</label>
                <br>
                <select id="card-select">
                </select>
                <br>
                <button class="do-reserve" onclick="reserve()">Arrive</button>
            </div>
        </div>
    </div>
    <script src="../scrpits/client-homepage.js"></script>
</body>
</html>
