<html>

<head>
    <link rel="stylesheet" href="../styles/manager-homepage.css" type="text/css">
</head>

<body>
    <div class="big-div">
        <nav>
            <ul>
                <li>
                    <a href="manager-homepage.html" class="current-page left">
                        Homepage
                    </a>
                </li>
                <li>
                    <a href="manager-reservation-report.html" class="left">
                        Reservation report
                    </a>
                </li>
                <li>
                    <a href="manager-realtime-report.html" class="left">
                        Realtime report
                    </a>
                </li>
                <li>
                    <a href="login.html" class="right">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
        <br>
        <br>
        <hr>
    </div>
</body>
</html>