<html>

<head>
    <link rel="stylesheet" href="../styles/reservation-schedule.css" type="text/css">
</head>

<body>
    <div class="big-div">
        <nav>
            <ul>
                <li>
                    <a href="manager-homepage.html" class="left">
                        Homepage
                    </a>
                </li>
                <li>
                    <a href="manager-reservation-report.html" class="current-page left">
                        Reservation report
                    </a>
                </li>
                <li>
                    <a href="login.html" class="right">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
        <br>
        <br>
        <hr>
        <h2 id="spot">
        </h2>
        <div id="schedule">
            <div id="time"></div>
            <div id="time-slots"></div>
        </div>
    </div>
    <script src="../scrpits/reservation-schedule.js"></script>
</body>
</html>